.header__pic2{
    background-image: url('../../../Ellipse 5.png');
    width: 7.64px;
    height: 7.64px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 45.15px;
    left: 18.86px;
    padding: 0;
}