.card{
    width: 270px;
    height: 120px;
    margin: 30px 30px 0 0;
}

.card:nth-child(4n){
    margin-right: 0;
}

@media screen and (max-width: 800px){
    .card{
        width: 229px;
        margin-right: 20px;
    }
    .card:nth-child(3n){
        margin-right: 0;
    }
    .card:nth-child(4n){
        margin-right: 20px;
    }
}

@media screen and (max-width: 550px){
    .card{
        width: 335px;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .card:nth-child(3n){
        margin-right: 20px;
    }
    .card:last-child{
        margin-bottom: 73px;
    }
}