.header__pic{
    background-image: url('../../../images/Group 1691.png');
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 25px;
    padding: 0;
}